<div class="about-section">
  <h1>About Us Page</h1>
  <p>This project is aimed at developing an Online Employee Maintenance System. This is an Intranet based application
    that can be accessed throughout the organization and this is a web-based application that can be accessed over the
    web. This system can be used to search for Employees based on search conditions, add individual employees, modify an
    existing employee details and display all employee details across locations within an organization. Employees can
    apply for leave and the leave record will be updated and can be approved/rejected by the manager. This is an
    integrated system that contains both the user Employee component and the Admin component.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets.gagan.jpg" alt="Gagan" style="width:50%">
      <div class="container">
        <h2>Gagandeep Singh</h2>
        <p class="title">Team leader</p>
        <p>Intro</p>
        <p>singh.gagandeep3911@gmail.com </p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/pranav.jpg" alt="Pranav" style="width:50%">
      <div class="container">
        <h2>Pranav Karmarkar</h2>
        <p class="title">Team member</p>
        <p>Intro</p>
        <p>pranav.karmarkar4@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>